# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Python testing
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
*.log
*.sqlite3
